.field-widget-thirdlight-field-widget .thirdlight-col-image {
	width: 25%;
	float: left;
	margin-right: 5%;
}

.field-widget-thirdlight-field-widget .thirdlight-col-image img {
	max-width: 100%;
	height: auto;
}

.field-widget-thirdlight-field-widget .thirdlight-col-fields {
	width: 70%;
	margin-left: 30%;
}

.field-widget-thirdlight-field-widget .form-item {
	padding-top: 0;
	margin-bottom: 10px !important;
}

.field-widget-thirdlight-field-widget fieldset label {
	float: left;
  width: 20%;
}

.field-widget-thirdlight-field-widget fieldset input {
	width: 80% !important;
}

.field-widget-thirdlight-field-widget .thirdlight-image-preview {
	margin-bottom: 10px;
}